In [1]:
import pandas as pd

In [3]:
df = pd.read_csv(".\Smart_City_index_headers.csv")

In [4]:
df.head()

,Id,City,Country,Smart_Mobility,Smart_Environment,Smart_Government,Smart_Economy,Smart_People,Smart_Living,SmartCity_Index,SmartCity_Index_relative_Edmonton
0,1,Oslo,Norway,6480,6512,7516,4565,8618,9090,7138,666
1,2,Bergen,Norway,7097,6876,7350,4905,8050,9090,7296,823
2,3,Amsterdam,Netherlands,7540,5558,8528,8095,7098,7280,7311,839
3,4,Copenhagen,Denmark,7490,7920,8726,5580,5780,7200,7171,698
4,5,Stockholm,Sweden,6122,7692,8354,4330,6743,7730,6812,340

In [5]:
df.describe()

,Id,Smart_Mobility,Smart_Environment,Smart_Government,Smart_Economy,Smart_People,Smart_Living,SmartCity_Index,SmartCity_Index_relative_Edmonton
count,102.000000,102.000000,102.000000,102.000000,102.000000,102.000000,102.000000,102.000000,102.000000
mean,51.500000,5759.401961,5943.500000,5893.803922,6131.803922,5874.049020,6377.039216,5991.911765,-480.392157
std,29.588849,1214.030137,1724.032171,1153.375297,1801.555148,1449.096341,2286.397477,852.775180,852.783238
min,1.000000,3175.000000,1850.000000,2806.000000,1490.000000,2825.000000,1980.000000,4191.000000,-2281.000000
25%,26.250000,4809.750000,4530.500000,5143.000000,5007.500000,4724.750000,4385.000000,5366.250000,-1105.750000
50%,51.500000,5651.500000,6495.000000,5911.000000,6432.500000,5747.500000,6485.000000,6261.500000,-210.500000
75%,76.750000,6763.750000,7310.000000,6581.500000,7492.500000,7061.250000,8710.000000,6672.500000,200.500000
max,102.000000,8110.000000,8844.000000,8726.000000,9225.000000,9695.000000,10000.000000,7353.000000,880.000000

In [6]:
df.info

<bound method DataFrame.info of       Id           City      Country  Smart_Mobility   Smart_Environment  \
0      1           Oslo       Norway             6480               6512
1      2         Bergen       Norway             7097               6876
2      3      Amsterdam  Netherlands             7540               5558
3      4     Copenhagen      Denmark             7490               7920
4      5      Stockholm       Sweden             6122               7692
..   ...            ...          ...              ...                ...
97    98           Riga       Latvia             4152               4584
98    99        Beijing        China             7610               2998
99   100  St Petersburg       Russia             4588               2908
100  101        Calgary       Canada             6675               4052
101  102       Edmonton       Canada             5801               4499

     Smart_Government   Smart_Economy   Smart_People  Smart_Living  \
0                 7516            4565          8618          9090
1                 7350            4905          8050          9090
2                 8528            8095          7098          7280
3                 8726            5580          5780          7200
4                 8354            4330          6743          7730
..                 ...             ...           ...           ...
97                4616            7380          3745          4330
98                2806            4905          5183          1980
99                3622            4515          5390          4100
100               5946            8022          6424          8657
101               6396            8022          6200          8141

     SmartCity_Index  SmartCity_Index_relative_Edmonton
0               7138                                666
1               7296                                823
2               7311                                839
3               7171                                698
4               6812                                340
..               ...                                ...
97              4712                              -1760
98              4449                              -2023
99              4191                              -2281
100             6678                                206
101             6472                                  0

[102 rows x 11 columns]>

In [8]:
df.isnull()

,Id,City,Country,Smart_Mobility,Smart_Environment,Smart_Government,Smart_Economy,Smart_People,Smart_Living,SmartCity_Index,SmartCity_Index_relative_Edmonton
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
97,False,False,False,False,False,False,False,False,False,False,False
98,False,False,False,False,False,False,False,False,False,False,False
99,False,False,False,False,False,False,False,False,False,False,False
100,False,False,False,False,False,False,False,False,False,False,False
101,False,False,False,False,False,False,False,False,False,False,False

In [13]:
df.columns

Index(['Id', 'City', 'Country', 'Smart_Mobility ', 'Smart_Environment',
       'Smart_Government ', 'Smart_Economy ', 'Smart_People', 'Smart_Living',
       'SmartCity_Index', 'SmartCity_Index_relative_Edmonton'],
      dtype='object')

In [24]:
white_space = df

In [40]:
#Check and count number of whitespace in whole database

counter = 0

for column in df.columns:
    for i in column:
        check_white_space = i.isspace()
        if check_white_space == 1:            
            counter = counter + 1

print("Number of whitespace in whole dataset: ", counter)

Number of whitespace in whole dataset:  3

In [55]:
df.columns
new_headers = []

#Remove all whitespace

for column in df.columns:
    non_white_space_headers = column.rstrip()
    new_headers.append(non_white_space_headers)

print(new_headers)

['Id', 'City', 'Country', 'Smart_Mobility', 'Smart_Environment', 'Smart_Government', 'Smart_Economy', 'Smart_People', 'Smart_Living', 'SmartCity_Index', 'SmartCity_Index_relative_Edmonton']

In [57]:
#Replace the old headers by new headers without spaces

df.columns = new_headers

In [63]:
df.columns

Index(['Id', 'City', 'Country', 'Smart_Mobility', 'Smart_Environment',
       'Smart_Government', 'Smart_Economy', 'Smart_People', 'Smart_Living',
       'SmartCity_Index', 'SmartCity_Index_relative_Edmonton'],
      dtype='object')